
.color_toguess {
    background-color: #fff;
    height: 150px;
    width: 1000px;
}

.option-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.hidden {
    display: none
}

.lose_screen {
    background-color: #442f3c;
    height: 80vh;
    width: 80vw;
    position: absolute;
    border-radius: 15px;
    padding: 30px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.play_again_btn {
    cursor: pointer;
}

.game_nav {
    display: flex;
    justify-content: space-around;
}

.menu_btn {
    cursor: pointer;
}